.topright{
	position: absolute;
	top: 140px;
	right: 10px;
}

.scrumboard {
  /*background-color: lightgrey;*/
  text-align: center;
  border: 10px solid;
  border-color: #6fbed6;
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.header2 {
  background-color: #6fbed6;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.stats {

  /*background-color: lightgrey;*/
  /*text-align: center;*/
  border: 10px  grey;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 17px;
}

.lowertext {
  font-size: 17px;
  padding: 20px;
   margin: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 10px  grey;

}