
.resize-image-team {
    width: 150px;
    height: auto;
    border-radius: 5px;

}

.teamcard {
	width: auto;
	height: auto;
	 float: left;
	  
	  padding: 0 10px;
}

.team-member-container {
	 display: -webkit-flex;
  display: flex;
  border: 10px solid;
    border-color: #6fbed6;
  padding: 30px;
  border-radius: 15px;


}

.headerTeam {
  background-color: #6fbed6;
  padding: 30px;
  /*text-align: center;*/
  font-size: 35px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.UserGCI {
  text-align: right;
}